@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,400;1,500&display=swap');
.main__container{
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 68px 0 10px;
}
.footer__container{
    max-width: 1168px;
    margin: 0 auto;
    padding: 10px;
}
.container{
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 10px;
}
#documbg{
    height: 445px;
    background: url(../img/documbg.jpg) center/cover;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.w60{
    width: 60%;
    float: right;
}
main section:first-of-type{
    margin-bottom: 50px;
}
div > p[class="w60"]{
    margin: 0 0 50px 0;
}

 div > section{
    margin: 50px auto 20px auto;
    width: 70% ;
   float: right;

}
div > section p{
    width: 86%;
    float: right;
}
main{
    position: relative;
    padding: 0 0 602px 0;
}
h1{
    font: 500 1.8em Montserrat;
    text-align: center;
    margin: 50px 0;
}
h2{
    font: 500 2.2em Montserrat;
    max-width:  400px;
    display: inline-block;
}
h3{
    font: 1.8em Montserrat;
    line-height: 36px;
   margin: 50px 0;
    text-align: center;
    padding: 0 20px;
}
h4{
    font: bold 1.5em Montserrat; 
}
h5{
    font: 500 2.2em Montserrat; 
    text-align: center;
}
.line{
    width: 370px;
    height: 1px;
    border: 0;
    border-top: 2px solid #000;
    margin: 50px auto;
}

 main ul li::before{
    content: "- "; 
}
main ul li a{
    color: #000;
}
main ul li a:hover{
    border-bottom: 2px solid #000;
}
section span{
    font: 500 12em Montserrat;
    color: #bf1c0a80;
}
 main p, main li{
    font: 1.5em Montserrat;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex p{
    flex-basis: 60%;
}
.flex > div{
    flex-basis: 35%;
}
.one,.two{
    display: block;
    width: 85px;
    height: 1;
    border: 0;
    border-top: 2px solid #000;
}
.margin{
    margin: 95px 0 50px 0;
}
.margin2{
    margin: 213px 0 0 0;
}
p > span{
    font-style: italic;
    font-weight: bold;
}

div[class="container"] p{
    margin-top: 50px;
    font-style: italic;
    position: relative;
}

div[class="container"] span{
    font: 500 12em Montserrat;
    color: #bf1c0a80;
    position: absolute;
    top: 0;
    left: -86px;
}
@media screen and (max-width:1200px){
    div[class="container"] span{
        display: none;
    }
}
#author{
    display: flex;
    flex-direction: row;
    margin-top: 100px;

}
#author p{
    font-style: italic;
    font-weight: 400;
    margin:0 0 0 20px ;
}
#author a{
    color: #000;
}
#author a:hover{
    border-bottom: 2px solid rgb(26, 26, 26);
}


footer{
    background: #8D8D8F;
    padding: 50px 0 67px 0;
}

.footer__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.footer__nav ul:first-of-type{
   
   flex-basis: 161px;
}

.footer__nav ul:last-of-type{
    flex-basis: 266px;
   
}
.footer__nav ul li{
    margin: 0 0 40px 0;
    
}
.footer__nav ul li a{
    font: 1.2em Montserrat;
    color: #000;
    padding: 9px 20px ;
    border-radius: 20px;
    transition: background .2s linear;
}
.footer__nav ul li a:hover{
    background: #656565;
}

.footer__btn{
    display: table;
    padding: 23px 83px;
    font:400 1.2em Montserrat;
    color: #FBF9F9;
    background: #656565;
    border-radius: 40px;
    transition: box-shadow .2s linear;
}
.footer__btn:hover{
    
    box-shadow: 0 0 10px #656565;
}
.footer__sub div{
    margin: 22px 0 0 0;
    text-align: center;
    flex-basis: 30%;
}

.footer__sub div a:nth-of-type(2){
    margin: 0 20px;
}
.footer__sub div a img{ 
    
    transition: transform .2s linear;
}
.footer__sub div a:hover img{
    transform: scale(1.1) translate(0,-3px);
}












.sticky{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
}
.soc{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 50px;
    width: 30px;
    right: 40px;
    float: right;
    
}
.soc a{
    width: 28px;
    height: 28px;
    margin: 0 0 29px 0;
    transition: transform .2s linear,opacity .2s linear;
    opacity: .9;

}
.soc a:nth-of-type(1){
    display: inline-block;
    height: 38px;
    background: url(../img/spritesoc.png) no-repeat top ;
}
.soc a:nth-of-type(2){
    display: inline-block;
    
    background: url(../img/spritesoc.png)no-repeat 0 -65px ;
}
.soc a:nth-of-type(3){
    display: inline-block;
    
    background: url(../img/spritesoc.png)no-repeat 0 -121px ;
}
.soc a:nth-of-type(4){
    display: inline-block;
   
    background: url(../img/spritesoc.png)no-repeat 0 -176px ;
}

.soc a:nth-of-type(5){
    display: inline-block;
    height: 36px;
    background: url(../img/spritesoc.png)no-repeat 0 -232px ;
}
.soc a:hover{
    transform: scale(1.05);
    opacity: 1;
}
@media only screen and (max-width:916px){
   div > section{
       width: 90%;
   }
   div > section p{
       width: 100%;
   }
   #author p{margin: 0;}
   #author{
    flex-direction: column;
    }
    #author div:first-of-type{
    margin: 0 auto;
    }
    .footer__logo{
        margin: 0 auto 25px auto;
    }
    .footer__nav ul{
        flex-basis: 100% !important;
        text-align: center;
    }
    .footer__sub{
        
        margin: 0 auto;
    }
    main{
        padding: 0 0 200px 0;
    }
}
@media only screen and (max-width:767px){
    .flex{
        flex-direction: column;
    }
    .margin2{
        margin: 50px 0;
    }
    
}
@media only screen and (max-width:600px){
    div > section{
        width: 100%;
    }
    .sticky {
        position: absolute;
        top: 50px;
        right: 40px;
         
    }
    .soc{
        position: static;
    }
    .padd10{
        padding: 0 10px !important;
    }
    .line{
        width: 50%;
    }
    h2,h5{
        font-size: 1.8em;
    }
    .w60{
        width: 100%;
    }
}